/* A NE PAS TOUCHE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

body
{
	margin:0;
	background: brown;
	font-family:"Gill Sans Nova",Arial,sans-serif;
}

header
{
	background-color:brown;
	color:white;
}

h1
{
	text-align:center;
}

h2
{
	text-align:center;
}

a
{
	text-decoration:none;
	color:white
}

table.barre
{
	width:100%;
	text-align:center;
	border-top:solid 2px dodgerblue;
	border-bottom:solid 2px dodgerblue;
}

td.barre
{
	display:inline-block;
	font-size:20px;
}

.gauche
{
	float:left;
}

.droite
{
	float:right;
}

footer
{
	border-top: solid 2px dodgerblue;
	position:relative;
	margin-top:50px;
	background-color:brown;
	color:white;
	width:100%;
}

/* A NE PAS TOUCHE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/


h1.formul
{
	text-align:left;
	font-size:22px;
}


form.form
{
	padding:0.5em;
	width:650px;
}

button.valid
{
	padding:1em;
	width:30%;
	border-radius:1em;
	margin-left:750px;
	background: lightblue
}

table.formulaire
{
	margin-left: 500px;
	width:100%;
	border: solid 1px black;
	margin-bottom:1em;
	margin-top:1em;
	background: lightblue
}

table.formulaire
{
	padding-bottom:1em
}

td.form
{
	width:55%
}

















