#logo
{
	float:left;
	width:100px
}

.handspinner
{
	width:200px;
	
}

h1
{
	text-align:center;
	width:100%
}

table.barre
{
	width:100%;
	text-align:center;
	background-color:lightblue;
	border:solid 1px black; 
}	

.gauche
{
	float:left;
}

.droite
{
	float:right;
}

td.barre
{
	display:inline-block;
	font-size:20px;
	padding-top:0.85em;
	padding-left:0.75em;
	padding-right:0.75em;
}

h2
{
	text-align:center;
	width:100%;
}

table.produit
{
}

.produit td
{
	border:solid 1px black;
	padding:0.5em
}
