body
{
	margin:0;
	background: brown;
	font-family:"Gill Sans Nova",Arial,sans-serif;
}

header
{
	background-color:brown;
	color:white;
}

h1
{
	text-align:center;
}

h2
{
	text-align:center;
}

a
{
	text-decoration:none;
	color:white
}

a.lienproduit:hover
{
	background-color:white;
	color:#3974d3
}

a.lienstandard:hover
{
	background-color:white;
	color:brown;
}

table.barre
{
	width:100%;
	text-align:center;
	border-top:solid 2px dodgerblue;
	border-bottom:solid 2px dodgerblue;
}

td.barre
{
	display:inline-block;
	font-size:20px;
}

.gauche
{
	float:left;
}

.droite
{
	float:right;
}

img.produit
{
	width:300px;
}

div.produit
{
	padding:0.5em;
	text-align:center;
	max-width:500px;
	margin-bottom:2em;
}

.corps
{
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
	flex-direction:row;
}

footer
{
	border-top: solid 2px dodgerblue;
	position:relative;
	margin-top:50px;
	background-color:brown;
	color:white;
	width:100%;
}

li.connaitre
{
	font-weight: bold;
}

footer ul
{
	list-style: none;
}

.corps div
{
	background-color:dodgerblue;
	color:white;
	border:solid 1px black;
	border-radius:1em;
	margin:0.5em;
	padding:0.5em;
}


img.note
{
	height:50px;
}

ul.carac
{
  padding:0px;
  text-align:left;
}

#infosutile li
{
	display:inline;
	max-width:500px;
}

ul#infosutile
{
	float:right;
	padding-left: 0px;
}


li
{
	list-style:none;
}

ul.nomprod
{
  text-align:center;
}
